.header-link {
    text-decoration: none;
    color: black;
}

.header-link:hover {
    color: black;
}

.main {
    background-color: #fdfff5;
    height: 100vh;
}

.banner {
    width: 100%;
    height: calc(100% - 68px);
    position: relative;
}

.text-box {
    padding-top: 150px;
    margin-left: 100px;
}

.start-text {
    color: #1cac78;
    font-size: 480%;
}
