.header-holder{
    background-color: #fdfff5;
}
.header-link{
    text-decoration: none;
    color: black;
}
.header-link:hover {
  color: black;
}
.main{
    background-color: #fdfff5;
    height: 100vh;
}
.banner{
    width: 100%;
    height: calc(100% - 68px);
    background-color: #fdfff5;
    position: relative;
}
.text-box{
    padding-top: 150px;
}